body {
    margin: 0;
    padding: 0;
    background-color: #6abadeba;
    font-family: 'Arial';
}



#form1 {
    
    width: 30%;
    margin: 60px auto;
    background: #efefef;
    padding: 60px 120px 80px 120px;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    display: grid;
    position: relative
    
  
}

#userSec {
    display: inherit;
    position: relative;
    margin: 2em auto;
    border-radius: 1em;
}
#passSec {
    display: inherit;
    position: relative;
    margin: 2em auto;
    border-radius: 1em;
}
#emailSec {
    display: inherit;
    position: relative;
    margin: 2em auto;
    border-radius: 1em;
}
#conPassSec {
    display: inherit;
    position: relative;
    margin: 2em auto;
    border-radius: 1em;
}

.register {
    display: grid;
    text-align: right;
    border-radius: 1em;
}

#btnRegister {
    grid-row-start: 7;
    margin: auto;
}

.txtbox {
    grid-column-start: 2 
}

.label {
    grid-column-start:1;
}

.register h1 {
    text-align: center;
}

.g-recaptcha {
    position:relative;
    margin:auto;
    color:green;
    display:inherit;
    padding:1em;
}