body {
    background-color: #6ABADB;
}

img#RepPicture {
    position: relative;
    height: auto;
    margin: auto;
    display: block;
    width: 17em;
}

.Rep-Top {
    position: relative;
    display: block;
    margin: auto;
    width: fit-content; 
    box-shadow: 0 4px 8px 0 grey;
    text-align:center;
}

.Rep-Top p {
    position: inherit;
    margin: inherit;
    text-align: center;
    
   
}

.Scroll {
    width: 65em;
    height: 25em;
    overflow-y: scroll;
    overflow-wrap: break-word;
    scrollbar-3dlight-color: cornflowerblue;
    align-content: center;
    position: relative;
    display: block;
    margin: auto;
    top: 4em;
    box-shadow: 0 4px 8px 0 grey;
}



.billbutton {
    display:block;
    text-decoration: none;
    margin:1em 1em 1em 1em;
    position: relative;
    right: -3.5em;
    width: 8em;
    height: 8em;
}


.bname {
    position: relative;
    top: -6em;
    left: 7em;
}

.bID {
    position: relative;
    display:block;
    top: -10em;
    left: 11em;
    margin:auto;
}

.blink {
    position: relative;
    top:-10em;
    right:-11em;
    margin:auto;
    display:block;
}

.bresult {
    position: relative;
    margin:auto;
    top:-9em;
    left:11em;
    display:block;
}

.bvote {
    position: relative;
    display: block;
    top: -9em;
    right: -11em;
    margin: auto;
}

.upvotebutton {
    position: relative;
    display: block;
    border-radius: 50%;
    top: 9em;
    right: -0.5em;
    width: 5%;
    height: 15%;
        
}

.downvotebutton {
    position: relative;
    display: block;
    border-radius: 50%;
    right:-0.5em;
    top: 10em;
    height:15%;
    width:5%;
}
 
.upvotebutton:hover {
    background-color: green;
}

.downvotebutton:hover {
    background-color: red;
}